## Code Snippets for Data Preprocessing

In [1]:
# Imports
import pandas as pd

In [68]:
# Read the raw data
dfRaw = pd.read_csv('/Users/daniellemckenney/Programming/erasmusCourses/ML/mlProjectsBirbs/mlProjectBirds/dataset.csv', sep="\t", on_bad_lines="warn",parse_dates=['eventDate'])

In [57]:
# Print some useful stats: 
print(dfRaw.info())
print(dfRaw.describe())
print(dfRaw.shape)
print(dfRaw.columns)
# Number of unique locations
print(dfRaw['locality'].value_counts())
# All entries should be within Spain
print(dfRaw['countryCode'].value_counts())
# No data is missing in the relevant columns:
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 753579 entries, 1980-09-11 to 2011-04-12
Data columns (total 49 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            753579 non-null  int64
 1   datasetKey                        753579 non-null  object
 2   occurrenceID                      753579 non-null  object
 3   kingdom                           753579 non-null  object
 4   phylum                            753579 non-null  object
 5   class                             753579 non-null  object
 6   order                             753579 non-null  object
 7   family                            753579 non-null  object
 8   genus                             753579 non-null  object
 9   species                           753579 non-null  object
 10  infraspecificEpithet              1000 non-null    object
 11  taxonRank                         753579 non-null  object
 12  scientificName                    753579 non-null  object
 13  verbatimScientificName            753579 non-null  object
 14  verbatimScientificNameAuthorship  0 non-null       float64
 15  countryCode                       753579 non-null  object
 16  locality                          753579 non-null  object
 17  stateProvince                     753579 non-null  object
 18  occurrenceStatus                  753579 non-null  object
 19  individualCount                   0 non-null       float64
 20  publishingOrgKey                  753579 non-null  object
 21  decimalLatitude                   753579 non-null  float64
 22  decimalLongitude                  753579 non-null  float64
 23  coordinateUncertaintyInMeters     0 non-null       float64
 24  coordinatePrecision               0 non-null       float64
 25  elevation                         0 non-null       float64
 26  elevationAccuracy                 0 non-null       float64
 27  depth                             0 non-null       float64
 28  depthAccuracy                     0 non-null       float64
 29  day                               753579 non-null  int64
 30  month                             753579 non-null  int64
 31  year                              753579 non-null  int64
 32  taxonKey                          753579 non-null  int64
 33  speciesKey                        753579 non-null  int64
 34  basisOfRecord                     753579 non-null  object
 35  institutionCode                   753579 non-null  object
 36  collectionCode                    753579 non-null  object
 37  catalogNumber                     753579 non-null  int64
 38  recordNumber                      0 non-null       float64
 39  identifiedBy                      0 non-null       float64
 40  dateIdentified                    0 non-null       float64
 41  license                           753579 non-null  object
 42  rightsHolder                      753579 non-null  object
 43  recordedBy                        0 non-null       float64
 44  typeStatus                        0 non-null       float64
 45  establishmentMeans                753579 non-null  object
 46  lastInterpreted                   753579 non-null  object
 47  mediaType                         0 non-null       float64
 48  issue                             10431 non-null   object
dtypes: float64(16), int64(7), object(26)
memory usage: 287.5+ MB
None
             gbifID  verbatimScientificNameAuthorship  individualCount  \
count  7.535790e+05                               0.0              0.0
mean   1.675447e+09                               NaN              NaN
std    2.264727e+08                               NaN              NaN
min    1.612098e+09                               NaN              NaN
25%    1.613503e+09                               NaN              NaN
50%    1.616473e+09                               NaN              NaN
75%    1.618905e+09                               NaN              NaN
max    2.543726e+09                               NaN              NaN

       decimalLatitude  decimalLongitude  coordinateUncertaintyInMeters  \
count    753579.000000     753579.000000                            0.0
mean         39.561128         -2.159383                            NaN
std           2.805265          3.318751                            NaN
min           0.000000        -39.290560                            NaN
25%          37.816670         -4.566670                            NaN
50%          39.850000         -1.650000                            NaN
75%          41.466670          0.033330                            NaN
max          43.783330          4.833330                            NaN

       coordinatePrecision  elevation  elevationAccuracy  depth  ...  \
count                  0.0        0.0                0.0    0.0  ...
mean                   NaN        NaN                NaN    NaN  ...
std                    NaN        NaN                NaN    NaN  ...
min                    NaN        NaN                NaN    NaN  ...
25%                    NaN        NaN                NaN    NaN  ...
50%                    NaN        NaN                NaN    NaN  ...
75%                    NaN        NaN                NaN    NaN  ...
max                    NaN        NaN                NaN    NaN  ...

                year      taxonKey    speciesKey  catalogNumber  recordNumber  \
count  753579.000000  7.535790e+05  7.535790e+05   7.535790e+05           0.0
mean     2003.617982  3.089666e+06  3.085307e+06   9.718358e+10           NaN
std         9.014725  1.693127e+06  1.690010e+06   5.625549e+11           NaN
min      1951.000000  2.475443e+06  2.475443e+06   3.500000e+01           NaN
25%      1998.000000  2.490719e+06  2.490719e+06   2.074422e+06           NaN
50%      2005.000000  2.493091e+06  2.493091e+06   4.497746e+06           NaN
75%      2010.000000  2.493091e+06  2.493091e+06   5.838344e+06           NaN
max      2019.000000  1.127068e+07  7.901064e+06   5.358759e+12           NaN

       identifiedBy  dateIdentified  recordedBy  typeStatus  mediaType
count           0.0             0.0         0.0         0.0        0.0
mean            NaN             NaN         NaN         NaN        NaN
std             NaN             NaN         NaN         NaN        NaN
min             NaN             NaN         NaN         NaN        NaN
25%             NaN             NaN         NaN         NaN        NaN
50%             NaN             NaN         NaN         NaN        NaN
75%             NaN             NaN         NaN         NaN        NaN
max             NaN             NaN         NaN         NaN        NaN

[8 rows x 23 columns]
(753579, 49)
Index(['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class',
       'order', 'family', 'genus', 'species', 'infraspecificEpithet',
       'taxonRank', 'scientificName', 'verbatimScientificName',
       'verbatimScientificNameAuthorship', 'countryCode', 'locality',
       'stateProvince', 'occurrenceStatus', 'individualCount',
       'publishingOrgKey', 'decimalLatitude', 'decimalLongitude',
       'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation',
       'elevationAccuracy', 'depth', 'depthAccuracy', 'day', 'month', 'year',
       'taxonKey', 'speciesKey', 'basisOfRecord', 'institutionCode',
       'collectionCode', 'catalogNumber', 'recordNumber', 'identifiedBy',
       'dateIdentified', 'license', 'rightsHolder', 'recordedBy', 'typeStatus',
       'establishmentMeans', 'lastInterpreted', 'mediaType', 'issue'],
      dtype='object')
locality
Canal vell                 26260
P. NAT. EL HONDO           17311
Traibuenas                 13099
Manecorro                  10419
Parque el alamillo         10296
                           ...
Hornos                         1
Carcastillo                    1
Palacios del sil               1
Hospitalet de llobregat        1
Urbanizacion los pinos         1
Name: count, Length: 7366, dtype: int64
countryCode
ES    753579
Name: count, dtype: int64
species             0
locality            0
decimalLatitude     0
decimalLongitude    0
eventDate           0
day                 0
month               0
year                0
dtype: int64

In [84]:
# Function Definitions
def cleanRawData(rawData, relevantColumns):
    # returns a dataframe with only the relevent columns and with invalid location entries removed
    df = rawData.filter(items=relevantColumns)
    df = df[(df['decimalLatitude'] != 0) & (df['decimalLongitude'] != 0)]
    return df

def fillInCounts0(data, dateCombination):
    # Fill in count=0 in the grouped summary
    # Get all unique combinations of the date combination
    existing_combinations = data[dateCombination].drop_duplicates()

    # Create a DataFrame with all unique species
    all_species_combinations = pd.DataFrame({'species': data['species'].unique()})

    # Cross join (cartesian product) to get all combinations of 'species', 'eventDate', and 'locality'
    all_combinations = pd.merge(existing_combinations.assign(key=1), all_species_combinations.assign(key=1), on='key').drop('key', axis=1)

    # Merge with the original DataFrame to get counts
    on = dateCombination.append('species')
    result_df = pd.merge(all_combinations, data, on=on, how='left').fillna(0)
    return result_df

In [88]:
relevantColumns = ['species','locality','decimalLatitude', 'decimalLongitude', 'eventDate']

df = cleanRawData(dfRaw, relevantColumns)

# Group by 'species', 'eventDate', and 'locality' and count the rows in each group
grouped_eventDate_df = df.groupby(['species', 'eventDate', 'locality']).size().reset_index(name='count')
# Fill in count=0 on days where a locality was visited but no entry was made for that species
grouped_eventDate_df = fillInCounts0(grouped_eventDate_df, ['eventDate', 'locality'])
print(grouped_eventDate_df[10:])

grouped_eventDate_df['weekOfYear'] = grouped_eventDate_df['eventDate'].dt.isocalendar().week
grouped_eventDate_df['month'] = grouped_eventDate_df['eventDate'].dt.month
grouped_eventDate_df['quarter'] = grouped_eventDate_df['eventDate'].dt.to_period('Q')
grouped_eventDate_df['year'] = grouped_eventDate_df['eventDate'].dt.year

grouped_weekOfYear_df = grouped_eventDate_df.groupby(['species', 'weekOfYear', 'year', 'locality']).size().reset_index(name='count')
grouped_weekOfYear_df = fillInCounts0(grouped_eventDate_df, ['weekOfYear', 'year', 'locality'])

grouped_month_df = grouped_eventDate_df.groupby(['species', 'month', 'year', 'locality']).size().reset_index(name='count')
grouped_weekOfYear_df = fillInCounts0(grouped_eventDate_df, ['month', 'year', 'locality'])

grouped_quarter_df = grouped_eventDate_df.groupby(['species', 'quarter', 'locality']).size().reset_index(name='count')
grouped_weekOfYear_df = fillInCounts0(grouped_eventDate_df, ['quarter', 'locality'])

grouped_year_df = grouped_eventDate_df.groupby(['species', 'year', 'locality']).size().reset_index(name='count')
grouped_weekOfYear_df = fillInCounts0(grouped_eventDate_df, ['year', 'locality'])

print(grouped_weekOfYear_df[10:])
print(grouped_month_df[10:])
print(grouped_quarter_df[10:])
print(grouped_year_df[10:])

        eventDate      locality                 species  count
10     1964-08-30       Milagro           Turdus merula    0.0
11     1964-08-30       Milagro       Turdus philomelos    0.0
12     1964-09-15  Alcantarilla         Merops apiaster    1.0
13     1964-09-15  Alcantarilla  Phylloscopus collybita    0.0
14     1964-09-15  Alcantarilla           Turdus merula    0.0
...           ...           ...                     ...    ...
592987 2019-08-13    Villamanta       Turdus philomelos    1.0
592988 2019-09-09      Anguiano         Merops apiaster    0.0
592989 2019-09-09      Anguiano  Phylloscopus collybita    0.0
592990 2019-09-09      Anguiano           Turdus merula    0.0
592991 2019-09-09      Anguiano       Turdus philomelos    1.0

[592982 rows x 4 columns]
        year               locality                 species  eventDate  count  \
10      1964                Milagro           Turdus merula 1964-08-30    0.0
11      1964                Milagro       Turdus philomelos 1964-08-30    0.0
12      1964           Alcantarilla         Merops apiaster 1964-09-15    1.0
13      1964           Alcantarilla  Phylloscopus collybita 1964-09-15    0.0
14      1964           Alcantarilla           Turdus merula 1964-09-15    0.0
...      ...                    ...                     ...        ...    ...
592987  2019  Simat de la valldigna       Turdus philomelos 2019-04-03    1.0
592988  2019                  Muxia         Merops apiaster 2019-05-30    0.0
592989  2019                  Muxia  Phylloscopus collybita 2019-05-30    0.0
592990  2019                  Muxia           Turdus merula 2019-05-30    0.0
592991  2019                  Muxia       Turdus philomelos 2019-05-30    1.0

        weekOfYear  month quarter
10              35      8  1964Q3
11              35      8  1964Q3
12              38      9  1964Q3
13              38      9  1964Q3
14              38      9  1964Q3
...            ...    ...     ...
592987          14      4  2019Q2
592988          22      5  2019Q2
592989          22      5  2019Q2
592990          22      5  2019Q2
592991          22      5  2019Q2

[592982 rows x 8 columns]
                  species  month  year          locality  count
10        Merops apiaster      1  1963           Pechina      1
11        Merops apiaster      1  1963        Valladolid      1
12        Merops apiaster      1  1964              Bueu      1
13        Merops apiaster      1  1964              Elio      1
14        Merops apiaster      1  1964   Playa de castro      1
...                   ...    ...   ...               ...    ...
291711  Turdus philomelos     12  2018  Ullal de baldovi      1
291712  Turdus philomelos     12  2018     Valdelafuente      9
291713  Turdus philomelos     12  2018          Valencia      3
291714  Turdus philomelos     12  2018      Villacaparra      4
291715  Turdus philomelos     12  2018            Zapata      2

[291706 rows x 5 columns]
                  species quarter          locality  count
10        Merops apiaster  1960Q2     Viladecaballs      1
11        Merops apiaster  1960Q3            Zumaya      1
12        Merops apiaster  1961Q1          Juslibol      1
13        Merops apiaster  1961Q1        Los arases      1
14        Merops apiaster  1961Q1             Palau      1
...                   ...     ...               ...    ...
193295  Turdus philomelos  2019Q3  Valle de iruelas      1
193296  Turdus philomelos  2019Q3      Villacaparra      5
193297  Turdus philomelos  2019Q3        Villamanta      6
193298  Turdus philomelos  2019Q3     Villamantilla      4
193299  Turdus philomelos  2019Q3            Zapata      1

[193290 rows x 4 columns]
                  species  year           locality  count
10        Merops apiaster  1960             Zumaya      2
11        Merops apiaster  1961           Aguinaga      1
12        Merops apiaster  1961       Barco velero      2
13        Merops apiaster  1961      Casa de campo      1
14        Merops apiaster  1961  Huerto del venado      2
...                   ...   ...                ...    ...
115751  Turdus philomelos  2019         Villamanta      6
115752  Turdus philomelos  2019      Villamantilla      4
115753  Turdus philomelos  2019       Villasandino      2
115754  Turdus philomelos  2019             Zapata      7
115755  Turdus philomelos  2019                Zoo      1

[115746 rows x 4 columns]

In [87]:

chiffChaffWeek=  grouped_weekOfYear_df[(grouped_weekOfYear_df['species'] =='Phylloscopus collybita')]
print(chiffChaffWeek.info())
print(chiffChaffWeek[10:])

<class 'pandas.core.frame.DataFrame'>
Index: 148248 entries, 1 to 592989
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        148248 non-null  int32
 1   locality    148248 non-null  object
 2   species     148248 non-null  object
 3   eventDate   148248 non-null  datetime64[ns]
 4   count       148248 non-null  float64
 5   weekOfYear  148248 non-null  UInt32
 6   month       148248 non-null  int32
 7   quarter     148248 non-null  period[Q-DEC]
dtypes: UInt32(1), datetime64[ns](1), float64(1), int32(2), object(2), period[Q-DEC](1)
memory usage: 8.6+ MB
None
        year                              locality                 species  \
35      1970                 P. NAT. LAGUNA GRANDE  Phylloscopus collybita
53      1971                 P. NAT. LAGUNA GRANDE  Phylloscopus collybita
54      1971                 P. NAT. LAGUNA GRANDE  Phylloscopus collybita
55      1971                 P. NAT. LAGUNA GRANDE  Phylloscopus collybita
56      1971                 P. NAT. LAGUNA GRANDE  Phylloscopus collybita
...      ...                                   ...                     ...
592973  2019                            Garrapilos  Phylloscopus collybita
592977  2019                 Los santos de maimona  Phylloscopus collybita
592981  2019  CASETA DEL FUSTER (P.NAT. FONT ROJA)  Phylloscopus collybita
592985  2019                 Simat de la valldigna  Phylloscopus collybita
592989  2019                                 Muxia  Phylloscopus collybita

        eventDate  count  weekOfYear  month quarter
35     1970-03-07    0.0          10      3  1970Q1
53     1971-08-21    0.0          33      8  1971Q3
54     1971-08-22    0.0          33      8  1971Q3
55     1971-08-23    0.0          34      8  1971Q3
56     1971-08-26    0.0          34      8  1971Q3
...           ...    ...         ...    ...     ...
592973 2019-02-19    0.0           8      2  2019Q1
592977 2019-02-23    0.0           8      2  2019Q1
592981 2019-03-07    0.0          10      3  2019Q1
592985 2019-04-03    0.0          14      4  2019Q2
592989 2019-05-30    0.0          22      5  2019Q2

[148238 rows x 8 columns]

In [81]:
print(grouped_weekOfYear_df[10:])

                                                                        eventDate  \
species           weekOfYear year locality
Merops apiaster   1          1960 A sainza                                      0
                                  A xunqueira                                   0
                                  A xunqueira de alba                           0
                                  ACEBUCHAL-P. NAT. MASISMAS DEL ODIEL          0
                                  AIGUABARREIG TER-BRUGENT                      0
...                                                                           ...
Turdus philomelos 53         2016 Zumarraga                                     0
                                  Zumaya                                        0
                                  Zurbano                                       0
                                  Zuriain                                       0
                                  Ñora                                          0

                                                                        count  \
species           weekOfYear year locality
Merops apiaster   1          1960 A sainza                                  0
                                  A xunqueira                               0
                                  A xunqueira de alba                       0
                                  ACEBUCHAL-P. NAT. MASISMAS DEL ODIEL      0
                                  AIGUABARREIG TER-BRUGENT                  0
...                                                                       ...
Turdus philomelos 53         2016 Zumarraga                                 0
                                  Zumaya                                    0
                                  Zurbano                                   0
                                  Zuriain                                   0
                                  Ñora                                      0

                                                                        month  \
species           weekOfYear year locality
Merops apiaster   1          1960 A sainza                                  0
                                  A xunqueira                               0
                                  A xunqueira de alba                       0
                                  ACEBUCHAL-P. NAT. MASISMAS DEL ODIEL      0
                                  AIGUABARREIG TER-BRUGENT                  0
...                                                                       ...
Turdus philomelos 53         2016 Zumarraga                                 0
                                  Zumaya                                    0
                                  Zurbano                                   0
                                  Zuriain                                   0
                                  Ñora                                      0

                                                                        quarter
species           weekOfYear year locality
Merops apiaster   1          1960 A sainza                                    0
                                  A xunqueira                                 0
                                  A xunqueira de alba                         0
                                  ACEBUCHAL-P. NAT. MASISMAS DEL ODIEL        0
                                  AIGUABARREIG TER-BRUGENT                    0
...                                                                         ...
Turdus philomelos 53         2016 Zumarraga                                   0
                                  Zumaya                                      0
                                  Zurbano                                     0
                                  Zuriain                                     0
                                  Ñora                                        0

[76003742 rows x 4 columns]

In [38]:
# Checking locality vs coordinates
# filtered_df = df[df['locality'].isin(['Localidad confidencial'])]
# print(filtered_df.filter(items=['locality', 'decimalLatitude','decimalLongitude', 'species', 'eventDate']))
# It looks like all of the coordinates of the same locality match

                      locality  decimalLatitude  decimalLongitude  \
1026    Localidad confidencial              0.0               0.0
2093    Localidad confidencial              0.0               0.0
2094    Localidad confidencial              0.0               0.0
3157    Localidad confidencial              0.0               0.0
3158    Localidad confidencial              0.0               0.0
...                        ...              ...               ...
749907  Localidad confidencial              0.0               0.0
750957  Localidad confidencial              0.0               0.0
751984  Localidad confidencial              0.0               0.0
751985  Localidad confidencial              0.0               0.0
752987  Localidad confidencial              0.0               0.0

                            species            eventDate
1026    Marmaronetta angustirostris  2015-07-16T00:00:00
2093    Marmaronetta angustirostris  1999-01-01T00:00:00
2094    Marmaronetta angustirostris  2013-01-08T00:00:00
3157    Marmaronetta angustirostris  1996-09-12T00:00:00
3158    Marmaronetta angustirostris  1998-09-16T00:00:00
...                             ...                  ...
749907  Marmaronetta angustirostris  2006-02-19T00:00:00
750957  Marmaronetta angustirostris  1987-08-06T00:00:00
751984  Marmaronetta angustirostris  1998-08-06T00:00:00
751985  Marmaronetta angustirostris  2011-02-02T00:00:00
752987  Marmaronetta angustirostris  2004-09-17T00:00:00

[1611 rows x 5 columns]